<div class="container pb-cmnt-container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 offset-md-3">
      <div class="card card-info ">
        <div class="card-block">
          <form class="form-inline pl-5 pr-5 pt-4" (submit)="onComment()">
            <!--            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea form-control" [(ngModel)]="comment" name="comment" ></textarea>-->
            <textarea type="text" class="form-control pb-cmnt-textarea col-md-12 col-sm-12 col-lg-12 col-xs-12" placeholder="Type a Comment..." [(ngModel)]="comment" name="comment"></textarea>
            <div class="mt-1 mb-2" style="">
              <button class="btn btn-danger" type="submit">Post Comment</button>
            </div>

          </form>

          <!--        posted comments -->
          <div class="row" >
            <div class="col-md-12" *ngFor="let comment of commentData; let i = index">
              <div class="card-block">
                <div class="row" style="padding-left: 3vw;color: grey;">
                  <div class="col-md-8" >
                    <b>{{i+1}}.&nbsp; &nbsp;{{comment.author.fullName}}</b> <br>
                    <p class="pl-4">{{comment.text}}</p>
                  </div>
                  <div class="col-md-4">
                    <button type="submit" class="btn btn-link" style="height: 20px;color: green" (click)="upvote(comment)">
                      <img src="../../assets/img/like.png" alt="" style="height: 20px;"> {{comment.upvote.length}} upvotes
                    </button>
                    <button type="submit" class="btn btn-link" style="height: 20px; color: red" (click)="downvote(comment)">
                      <img src="../../assets/img/dislike.png" alt="" style="height: 20px;"> {{comment.downvote.length}} downvotes
                    </button>
                    <br>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- Error message -->
    <div *ngIf="serverErrorMessages" [ngClass]=" success ? 'alert success':'alert col-md-3'" style="height: 70px;">
      {{serverErrorMessages}}
    </div>

  </div>
</div>

